<div class="container">
  <div class="row">
    <div class="col-mx-1">

      <h1>Item detail</h1>
      <p>商品名</p>
      <%= @item.name %>
      <p>ジャンル</p>
      <%= @item.genre.name %>
      <p>商品画像</p>
      <%= attachment_image_tag @item, :image, :fill, 50, 50, fallback: "no_image.jpg"%>
      <p>商品説明</p>
      <%= @item.introduction %>
      <p>価格</p>
      <%= @item.price %>
      <br>
      <%= link_to "一覧へ",  admin_items_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
