

<div class="container">
  <div class="row">

<!-- サイドバー終わり -->

<div class="col-mx-1">
<h1>User detail</h1>
      <table class="table user-show">

		<th>last_name</th>
		<th>first_name</th>
		<th>last_name_kana</th>
		<th>first_name_kana</th>
		<th>email</th>
		<th>postal_code</th>
		<th>address</th>
		<th>telephone_number</th>
		<th>is_deleted</th>
		<th>created_at</th>
		<th>updated_at</th>
		<th></th>
         <% @customer.each do |customer| %>
            <tr>
            	
				<td><%= link_to admin_customer_path(customer) do %>
					<%= customer.last_name %>
					<% end %>
					</td>
				<td><%= link_to admin_customer_path(customer) do %>
					<%= customer.first_name %></td>
				<% end %>
				<td><%= customer.last_name_kana %></td>
				<td><%= customer.first_name_kana %></td>
				<td><%= customer.email %></td>
				<td><%= customer.postal_code %></td>
				<td><%= customer.address %></td>
				<td><%= customer.telephone_number %></td>
				<td>
					<% if customer.is_active %>
          退会済み
          <% else %>
          -
          <% end %>
					<%#= customer.is_active %></td>
				<td><%= customer.created_at.strftime('%Y/%m/%d %H:%M') %></td>
				<td><%= customer.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
				<td><%= link_to "Edit",  edit_admin_customer_path(customer), class:"btn btn-success"%></td>
				<% end %>
          </tr>
        </table>
</div>
</div>
</div>
