<div class="container">
  <div class="row">
    <div class="col-mx-1">
      <h1>Customers detail</h1>


      <p>名前（カナ）</p>
      <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
      <p>名前</p>
      <%= @customer.last_name %><%= @customer.first_name %>

      <p>メールアドレス</p>
      <%= @customer.email %>
      <p>郵便番号</p>
      <%= @customer.postal_code %>
      <p>住所</p>
      <%= @customer.address %>
      <p>電話番号</p>
      <%= @customer.telephone_number %>
      <p>登録日時</p>
      <%= @customer.created_at.strftime('%Y/%m/%d %H:%M') %>
      <p>更新日時</p>
      <%= @customer.updated_at.strftime('%Y/%m/%d %H:%M') %>
      <br>
      <%= link_to "Edit",  edit_admin_customer_path(@customer), class:"btn btn-success"%>
    </div>
  </div>
</div>

