
<h1>Admin::Orders#index</h1>
<p>Find me in app/views/admin/orders/index.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Orders</h1>
      <h1>Orders detail</h1>
      <table class="table orders-show">
      <th>注文番号</th>
      <th>ステータス</th>
      <th>注文日時</th>
      <th>お客様</th>
      <th>配送先郵便番号</th>
      <th>合計金額</th>
      <th></th>
      <% @order.each do |order| %>
      <tr>
        <td><%= order.id %><br>
        <td><%= order.status %><br>
        <%= order.created_at.strftime('%Y/%m/%d %H:%M') %>
        <td><%= order.name %><br>
        <td><%= order.postal_code %><br>
        <td><%= order.total_payment %><br>
        <td><%= link_to "Edit",  edit_admin_order_path(order), class:"btn btn-success" %></td>
        <% end %>
      </div>
    </div>
  </div>
        
        
        
        
      
      
      
      
      
      
      
    
    
    
    


