
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Orders</h1>
      <h1>Orders detail</h1>
      <table class="table orders-show">
      <th>注文番号</th>
      <th>ステータス</th>
      <th>注文日時</th>
      <th>お客様</th>
      <th>配送先郵便番号</th>
      <th>合計金額</th>
      <th></th>
      <% @order.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.status %></td>
        <td><%= order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= order.name %></td>
        <td><%= order.postal_code %></td>
        <td><%= order.total_payment %></td>
        <td><%= link_to "注文詳細",  admin_order_path(order), class:"btn btn-success" %></td>
        <% end %>
      </div>
    </div>
  </div>
