<div class="container">
  <div class="row">

<div class="col-mx-1">
<h1>注文一覧</h1>
      <table class="table user-show">

		<th>注文番号</th>
		<th>注文時刻</th>
		<th>請求額</th>
		<th>注文ステータス</th>
		<th></th>
         <% @order.each do |order| %>
            <tr>
						<td><%= order.id %></td>
						<td><%= order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
						<td><%= order.total_payment %>円</td>
						<td><%= order.status %></td>
						<td><%= link_to "show", admin_order_path(order.id), class:"btn btn-success"%></td>
						<% end %>
          </tr>
        </table>
        <%= link_to "ジャンル一覧へ", admin_genres_path %>
</div>
</div>
</div>
