

<div class="col-md-8 offset-md-1">  
<h2>注文確認画面</h2>
<table class="table table">
  <tr>
  　<th>商品名</th>
    <th>単価</th>
    <th>数量</th>
    <th>合計金額</th>
  </tr>

<% @order.total_payment = 0 %>
<% @cart_items.each do |cart_item| %>
<tr>
  <td><%= cart_item.item.name %></td>
  <td><%= cart_item.item.price %></td>
  <td><%= cart_item.amount %></td>
  <td><%= cart_item.item.price*cart_item.amount %></td>
</tr>
<% @order.total_payment =cart_item.item.price*cart_item.amount+@order.total_payment %>
<% end %>
</table>
</div>
<hr>　<!--ライン-->
<div class="col-md-4 offset-md-4">  
<h4>送料<%= @order.shipping_cost =1000 %>円
<span class="col-md-4 offset-md-5">  
合計<%= @order.total_payment =@order.shipping_cost+@order.total_payment %>円</h4>
</div></span>
<div class="col-md-8 offset-md-1">  
<hr>　<!--ライン-->
<h4>支払方法</h4>
<%= @order.payment_method %>
<hr>　<!--ライン-->
<h4>お届け先</h4>
<h6>郵便番号</h6><br>
<%= @order.postal_code %>
<h6>住所</h6><br>
<%= @order.address %>
<h6>宛名</h6><br>
<%= @order.name %><br>
<%= link_to "注文する", orders_path,method: :POST , class: "btn btn-primary" %>　
</div>



