
<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <h3>注文情報</h3>
      <%= form_with(model: @order, local: true, url: orders_comfirm_path, method: :post) do |f| %>
      <h3>支払い方法</h3>
      <%= f.radio_button :payment_method, 0, checked: "checked"%> クレジットカード <br>
      <%= f.radio_button :payment_method, 1, checked: "checked"%> 銀行振込 <br>
      
      <h3>届け先</h3>
      <%= f.collection_select(:address, current_customer.addresses.all, :id, :address)%>
      <br /><br />
      <%= f.submit "確認画面へ" %>
      
      <% end %>
    </div>
  </div>
</div>